<div class="form-group">
    <form [formGroup]="passwordForm">

    <label class="form-control-label">PASSWORD</label>
    <input type="password" class="form-control" formControlName="password"  [(ngModel)]="password"  (keyup)="sendPassword()">
    <div *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('required')"
    class="color">Password is required</div>
    <div *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('pattern')"
    class="color">Password is invalid</div>
    </form>
</div>

